*{
	margin:0;
	padding:0;
	font-family: century gothic;
}

header{
	background-color:#ddd;
	background: url(../credential.jpg);
	height:100vh;
	background-position:right bottom;
	background-size:60% 90%;
	 background-repeat: no-repeat;
	 background-color:#ddd;
	
}
.toplinks ul{
	list-style-type:none;
	float:right;
	margin-top:28px;
	
}
 .toplinks ul li {
       display: inline-block;
 }
	.toplinks ul li a
	{
     text-decoration:none;
	 font-size:20px;
	 color: black;
	 border: 1px solid transparent;
	 padding: 5px 28px;
	
	}
.grid{
      display:grid;
      grid-template-columns: 20% 50%;
      
      grid-column-gap:1em;
      grid-row-gap:1em;
      
      /*grid-gap:1em;*/
	  position:absolute;
	  top:10%;
    }

    .grid > div{
      background-color:cadetblue;
      padding:1em;
    }
    .grid > div:nth-child(odd){
      background-color:transparent;
    }	
	
	.grid img{
		width:90px;height:90px;
	}